.app-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cash-withdrawal-container{
    border-radius: 15px;
    background-color: #150b3e;
    width: 80%;
    max-width: 350px;
    padding-top: 25px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 18px;
}

@media screen and (min-width: 768px){
    .cash-withdrawal-container{
        width: 50%;
        max-width: 450px;
        padding-top: 35px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 25px;


    }
}


.user-details-container{
    display: flex;
    text-align: center;

}

.initial-container{
    background-color: #c7d2fe;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
   padding-left: 0px;
}

@media screen and (min-width: 768px){
    .initial-container{
        height: 60px;
        width: 60px;
       border-radius: 32px;
    }

}

.initial{
    font-family: roboto;
    font-size: 35px;
    font-weight: 500;
}

@media screen and (min-width: 768px){
    .initial{
        
        font-size: 35px;
        margin-left: 10px;
        
    }

}

.name{

    font-family: roboto;
    font-size: 16px;
    font-weight: 500;
    margin-left: 7px;
    color: #d4d2db;
}

.balance-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.your-balance{
    color:  #7c3aed;
    font-family: roboto;
    font-size: 16px;
    font-weight: 200;
    margin-top: 10px;

}

@media screen and (min-width: 768px){
    .your-balance{
        color:  #7c3aed;
        font-family: roboto;
        font-size: 26px;
        font-weight: 400;
    
    }

}

.balance{
    color: #c7d2fe;
    font-family: roboto;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 0px;
        
}

.balance-in-rupees{
    color: #c7d2fe;
    font-family: roboto;
        font-size: 16px;
        font-weight: 500;
        margin-top: 0px;
}

@media screen and (min-width: 768px){
    .balance{
        color: #c7d2fe;
        font-family: roboto;
            font-size: 30px;
            font-weight: 500;
            margin-bottom: 0px;
    }

}

.withdraw {
    color: #d4d2db;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 500;
    margin-top: 16px;
    margin-right: 15px;
    margin-bottom: 10px;
  }
  
  @media screen and (min-width: 768px) {
    .withdraw {
      font-size: 24px;
      margin-top: 24px;
    }
  }
  
  .choose-sum {
    color: #585076;
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 12px;
  }
  
  @media screen and (min-width: 768px) {
    .choose-sum {
      font-size: 16px;
      margin-bottom: 24px;
    }
  }

  .denominations-list {
     padding-left: 0px; 
    display: flex;
     flex-wrap: wrap; 
    justify-content: space-between;
    margin-bottom: 5px;
  }

  .error-msg{

    color: red;
    font-family: 'Roboto';
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin-top: 0px;
  }

  .mode-of-transction{
    display: flex;
  }